{% extends 'base.html' %}
{% block title %}Success Odey-Bio{% endblock %}
{% block content %}
  <!-- Bio Section -->
  <section id="bio" >
    <h2>About Me</h2>
    <p>
      🎶 Welcome to My World 🎶
    </p>
    <p>
      Hey everyone! I’m Success Odey, a passionate gospel musician, songwriter, and keyboardist.
    </p>
    <p>
      Music is more than just sound to me—it’s a powerful way to express God’s love and touch lives. I also play a little guitar 🎸 and love exploring new ways to create inspiring music.
    </p>
    <p>      
      Join me on this journey as I share my love for God, my passion, songs, and musical experiences. Let’s make a joyful sound together! 🎹🎤✨
    </p>
    <p>
      <!-- #GospelMusic #PassionForMusic #Songwriter #Keyboardist #WelcomeToMyWorld</p> -->
    </p>
  </section>
{% endblock %}
  