{% extends 'base.html' %}
{% block title %}Success Odey-Contact{% endblock %}
{% block content %}
<!-- Contact Section -->
  <section id="contact">
    <h2>Contact Me</h2>
    <p>For bookings, inquiries, or just to say hello, reach out to me at:</p>
    <p>Email: <a href="mailto:odeysuccess447@gmail.com">successodey.com</a></p>
    <div class="social-links">
      <a href="https://web.facebook.com/successowoche">Facebook</a>
      <a href="https://www.youtube.com/@success_odey">YouTube</a>
      <a href="https://www.tiktok.com/@successodey_">TikTok</a>
    </div>
  </section>
{% endblock %}

  