{% extends 'base.html' %}
{% block title %}Success Odey-Home{% endblock %}
{% block content %}
{% load static %}
<!-- Homepage Section -->
  <section id="home">
    <div class="hero">
      <h2>Welcome to Success Odey's Official Website</h2>
      <p>Listen to my latest music, check out upcoming shows, and connect with me!</p>
      <div class="home_vid">
      <iframe width="656" height="369" src="https://www.youtube.com/embed/E8uUuErQsZE?list=RDE8uUuErQsZE" title="Yayi" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>      </div>
  </section>
  <div class="horizontal_image_slide">
    <img src="" alt="">
  </div>
{% endblock %}
