{% extends 'base.html' %}  
{% block title %}Success Odey-Shop{% endblock %}
{% block content %}
  <!-- Shop Section -->
  <section id="shop">
    <h2>Shop</h2>
    <p>Get my latest merch:</p>
    <div class="shop-items">
      {% for item in shop_items %}
      <div class="item">
        <img src="{{ item.shop_items.url }}" alt="{{ item.products_name }}">
        <p>{{ item.products_price }}</p>
      </div>
      {% endfor %}
    </div>
    <a href="your-shop-link.com" class="cta">Visit Shop</a>
  </section>
  {% endblock %}
  
